config.json
output/**
out.jsonl
.env
.secrets/**
tap_linear/config.py
.meltano/
.pytest_cache/
tap_linear/__pycache__/
tap_linear/queries/__pycache__/
tap_linear/schemas/__pycache__/
tap_linear/tests/__pycache__/